@use '../../sass/abstracts/'  as abs;

.ratings {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	margin-bottom: abs.rem(50);

	@include abs.breakpoint(medium) {
		grid-area: ratings;
		margin-bottom: 0;
	}

	.rating-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--clr-light);
		color: var(--clr-dark);
		padding-block: 1rem;
		border-radius: 10px;

		@include abs.breakpoint(medium) {
			flex-direction: row;
			padding-inline: 2rem;
			gap: 1.65rem;
			width: 86%;

			&:first-child {
				align-self: start;
			}

			&:nth-child(2) {
				align-self: center;
			}

			&:last-child {
				align-self: end;
			}
		}

		.star-container {
			display: flex;
			gap: 0.5rem
		}

		p {
			font-size: 1rem;
			font-weight: 700;
			letter-spacing: 0.05px;
			line-height: 1.6;
		}
	}
}