@use '../abstracts/' as a;

:root {

	// colors
	--clr-dark: hsl(300, 43%, 22%);
	--clr-highlight: hsl(333, 80%, 67%);
	--clr-gray: hsl(303, 10%, 53%);
	--clr-light: hsl(300, 24%, 96%);
	--clr-white: hsl(0, 0%, 100%);

	// font-families
	--ff-sans: 'League Spartan', sans-serif;
}